{% extends "base.html" %}

{% block tabs %}
{{ super() }}
<section id="hero-section">
    <div class="md-grid md-typeset">
        <div class="hero__container">
            <div class="hero__content">
                <h4>Full-stack Developer</h1>
                <h1>
                    Agven Muharis<br>
                    Rifqi
                </h1>
                <p style="margin-top: 1rem;">Menyelesaikan permasalahan dengan <strong style="color: var(--md-accent-fg-color);">CODING</strong> adalah suatu <strong style="color: var(--md-accent-fg-color);">KESENANGAN</strong> tersendiri untuk <strong style="color: var(--md-accent-fg-color);">SAYA</strong></p>
                <div style="margin-top: 2rem;">
                    <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | striptags }}"
                        class="md-button md-button--primary">
                        Get started
                    </a>
                    <a href="{{ config.repo_url }}" title="Pelajari lebih" class="md-button md-button--secondary">
                        Go to GitHub
                    </a>
                </div>    
            </div>
            <div class="hero__image">
                <img style="width: 100%;" src="assets/img/hero-image.png" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!--

-->

{% block content %}
<!-- <style>
    .md-sidebar--primary {
        display: none
    }
    @media screen and (min-width: 60em) {
        .md-sidebar--secondary:not([hidden]) {
            display: none;
        }
    }
</style>
<section>
    <div>Content</div>
</section> -->
{% endblock %}

{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            {% include "partials/copyright.html" %}
            {% if config.extra.social %}
                {% include "partials/social.html" %}
            {% endif %}
        </div>
    </div>
</footer>
{% endblock %}